# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import geo_key

# Configure gmaps
gmaps.configure(api_key=geo_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data

city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tuktoyaktuk,CA,69.4541,-133.0374,6.67,93,100,8.32,overcast clouds
1,1,Butaritari,KI,3.0707,172.7902,80.96,69,11,2.82,few clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,81.88,74,60,13.85,broken clouds
3,3,Lima,PE,-12.0432,-77.0282,66.90,81,0,6.91,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,72.12,84,99,9.13,light rain
5,5,Victoria,HK,22.2855,114.1577,73.45,93,100,17.00,light rain
6,6,Port Elizabeth,ZA,-33.9180,25.5701,66.31,79,73,7.00,broken clouds
7,7,Yellowknife,CA,62.4560,-114.3525,16.32,92,75,5.75,light snow
8,8,Castro,BR,-24.7911,-50.0119,60.40,98,30,7.18,scattered clouds
9,9,Khatanga,RU,71.9667,102.5000,-40.97,100,60,3.62,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input('What is the minimum temperature you would like on your vacation?'))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input('What is the maximum temperature you would like on your vacation?'))

What is the minimum temperature you would like on your vacation?65
What is the maximum temperature you would like on your vacation?95

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']<max_temp) & (city_data_df['Max Temp']>min_temp)]
                                    
# Display sample data
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Butaritari,KI,3.0707,172.7902,80.96,69,11,2.82,few clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,81.88,74,60,13.85,broken clouds
3,3,Lima,PE,-12.0432,-77.0282,66.90,81,0,6.91,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,72.12,84,99,9.13,light rain
5,5,Victoria,HK,22.2855,114.1577,73.45,93,100,17.00,light rain
...,...,...,...,...,...,...,...,...,...,...
653,653,Padang,ID,-0.9492,100.3543,75.25,74,98,5.06,overcast clouds
661,661,Mbandaka,CD,0.0487,18.2603,71.08,93,77,1.92,broken clouds
663,663,Kirakira,SB,-10.4544,161.9205,84.34,72,37,6.76,scattered clouds
666,666,Ouro Preto Do Oeste,BR,-10.7481,-62.2158,70.97,98,100,2.77,light rain
668,668,Manokwari,ID,-0.8667,134.0833,84.16,71,100,11.01,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng
1,Butaritari,KI,80.96,few clouds,3.0707,172.7902
2,Hithadhoo,MV,81.88,broken clouds,-0.6000,73.0833
3,Lima,PE,66.90,clear sky,-12.0432,-77.0282
4,Rikitea,PF,72.12,light rain,-23.1203,-134.9692
5,Victoria,HK,73.45,light rain,22.2855,114.1577
...,...,...,...,...,...,...
653,Padang,ID,75.25,overcast clouds,-0.9492,100.3543
661,Mbandaka,CD,71.08,broken clouds,0.0487,18.2603
663,Kirakira,SB,84.34,scattered clouds,-10.4544,161.9205
666,Ouro Preto Do Oeste,BR,70.97,light rain,-10.7481,-62.2158
668,Manokwari,ID,84.16,overcast clouds,-0.8667,134.0833

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = ''

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Butaritari,KI,80.96,few clouds,3.0707,172.7902,
2,Hithadhoo,MV,81.88,broken clouds,-0.6000,73.0833,
3,Lima,PE,66.90,clear sky,-12.0432,-77.0282,
4,Rikitea,PF,72.12,light rain,-23.1203,-134.9692,
5,Victoria,HK,73.45,light rain,22.2855,114.1577,
...,...,...,...,...,...,...,...
653,Padang,ID,75.25,overcast clouds,-0.9492,100.3543,
661,Mbandaka,CD,71.08,broken clouds,0.0487,18.2603,
663,Kirakira,SB,84.34,scattered clouds,-10.4544,161.9205,
666,Ouro Preto Do Oeste,BR,70.97,light rain,-10.7481,-62.2158,
668,Manokwari,ID,84.16,overcast clouds,-0.8667,134.0833,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": geo_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Butaritari,KI,80.96,few clouds,3.0707,172.7902,Isles Sunset Lodge
2,Hithadhoo,MV,81.88,broken clouds,-0.6000,73.0833,Scoop Guest House
3,Lima,PE,66.90,clear sky,-12.0432,-77.0282,Hotel Kamana
4,Rikitea,PF,72.12,light rain,-23.1203,-134.9692,People ThankYou
5,Victoria,HK,73.45,light rain,22.2855,114.1577,Mini Central
...,...,...,...,...,...,...,...
653,Padang,ID,75.25,overcast clouds,-0.9492,100.3543,Mercure Padang
661,Mbandaka,CD,71.08,broken clouds,0.0487,18.2603,Guest House Epervier
663,Kirakira,SB,84.34,scattered clouds,-10.4544,161.9205,SanBiz Lodge
666,Ouro Preto Do Oeste,BR,70.97,light rain,-10.7481,-62.2158,Graúna Resort Hotel
668,Manokwari,ID,84.16,overcast clouds,-0.8667,134.0833,Swiss Belhotel Manokwari

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [12]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name'] != '']


# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Butaritari,KI,80.96,few clouds,3.0707,172.7902,Isles Sunset Lodge
2,Hithadhoo,MV,81.88,broken clouds,-0.6000,73.0833,Scoop Guest House
3,Lima,PE,66.90,clear sky,-12.0432,-77.0282,Hotel Kamana
4,Rikitea,PF,72.12,light rain,-23.1203,-134.9692,People ThankYou
5,Victoria,HK,73.45,light rain,22.2855,114.1577,Mini Central
...,...,...,...,...,...,...,...
653,Padang,ID,75.25,overcast clouds,-0.9492,100.3543,Mercure Padang
661,Mbandaka,CD,71.08,broken clouds,0.0487,18.2603,Guest House Epervier
663,Kirakira,SB,84.34,scattered clouds,-10.4544,161.9205,SanBiz Lodge
666,Ouro Preto Do Oeste,BR,70.97,light rain,-10.7481,-62.2158,Graúna Resort Hotel
668,Manokwari,ID,84.16,overcast clouds,-0.8667,134.0833,Swiss Belhotel Manokwari

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [13]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [14]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file , index=False)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [16]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>few clouds and 80.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>broken clouds and 81.88 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Kamana</dd>\n<dt>City</dt><dd>Lima</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Current Weather</dt><dd>clear sky and 66.9 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 72.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mini Central</dd>\n<dt>City</dt><dd>Victoria</dd>\n<dt>Country</dt><dd>HK</dd>\n<dt>Current Weather</dt><dd>light rain and 73.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>39 On Nile Guest House</dd>\n<dt>City</dt><dd>Port Elizabeth</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>broken clouds and 66.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Observatory Guest House</dd>\n<dt>City</dt><dd>Busselton</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 67.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grage Hotel Bengkulu</dd>\n<dt>City</dt><dd>Bengkulu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 82.56 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [17]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1    3.0707  172.7902
2   -0.6000   73.0833
3  -12.0432  -77.0282
4  -23.1203 -134.9692
5   22.2855  114.1577
6  -33.9180   25.5701
10 -33.6500  115.3333
11  -3.8004  102.2655
12 -22.9661  -42.0278
18 -21.2000 -175.2000

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Display the figure containing the map
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))